$PTRootUIReg: 'PT Root UI', sans-serif;
$Monserrat: Montserrat, sans-serif;

@font-face {
    font-family: 'PT Root UI';
    src: url('../fonts/PT_Root_UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

