.index-page {
    margin-top: -$headerHeight_LG;
    min-height: 100vh;

    @include md-max() {
        margin-top: -$headerHeight_SM;
    }
    canvas {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100vw;
        height: 100vh;
    }
}