.index-page {
    margin-top: -$headerHeight_LG;

    @include md-max() {
        margin-top: $headerHeight_SM;
    }
    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }
}