$fadeOutAnimationDuration: 0.25s;
$fadeOutAnimationEasing: ease-in-out;

.fade-out-enter {
    opacity: 0;
    transition: opacity $fadeOutAnimationDuration $fadeOutAnimationEasing;
    will-change: opacity;
}

.fade-out-enter-active {
    opacity: 1;
}

.fade-out-exit {
    transition: opacity $fadeOutAnimationDuration $fadeOutAnimationEasing;
    will-change: opacity;
    opacity: 1;
}

.fade-out-exit-active {
    opacity: 0;
}