body {
    background-color: $lightGray;
    -webkit-font-smoothing: antialiased;
    color: $black;
}

#root {
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1920px;
    margin:  0 auto;
    position: relative;
}

.main {
    height: 100%;
    min-height: calc(100vh - #{$headerHeight_LG});

    @include maxVW($maxvw) {
        padding: 0 indent80($maxvw);
    }
    @include md-max() {
        min-height: calc(100vh - #{$headerHeight_SM});
    }


}