.catalog {
    width: 100%;
    @include maxVW($maxvw) {
        margin-bottom: #{main_Hor_Indent($maxvw)};
    }
    @include clearfix;
}

.catalog {
    a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }

        &:before {
            content: "";
            background-color: transparent;
            transition: opacity 0.1s ease-in-out, background-color 0.1s ease-in-out;
            opacity: 0;
        }

        &:hover {

            &:before {
                content: attr(data-text);
                background-color: $white70;
                position: absolute;
                opacity: 1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                color: $black;
                font-size: 24px;
                line-height: 30px;
                font-family: Montserrat, sans-serif;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    > div:nth-child(1),
    > div:nth-child(2) {
        margin-top: 0 !important;
    }

    @include maxVW($maxvw) {
        @include xs() {
            div {
                position: relative;
            }
            div:nth-child(8n + 1) {
                float: left;
                margin-top: #{catalogImagesIndent($maxvw)};
                width: calc((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - ((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - #{catalogImagesIndent($maxvw)} - #{catalogImagesIndent($maxvw)}) / 3)) - #{catalogImagesIndent($maxvw)});
                // 1160/920
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 920 / 1160);
                }
            }

            div:nth-child(8n + 2) {
                float: right;
                width: calc(#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - (((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - #{catalogImagesIndent($maxvw)} - #{catalogImagesIndent($maxvw)}) / 3 + #{catalogImagesIndent($maxvw)}) * 2));
                margin-top: #{catalogImagesIndent($maxvw)};
                margin-left: #{catalogImagesIndent($maxvw)};
                // 560/440
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 440 / 560);
                }
            }

            div:nth-child(8n + 3) {
                float: right;
                margin-top: #{catalogImagesIndent($maxvw)};
                margin-left: #{catalogImagesIndent($maxvw)};
                width: calc(#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - (((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - #{catalogImagesIndent($maxvw)} - #{catalogImagesIndent($maxvw)}) / 3 + #{catalogImagesIndent($maxvw)}) * 2));
                // 560/440
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 440 / 560);
                }
            }

            div:nth-child(8n + 4) {
                float: right;
                width: calc((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - ((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - #{catalogImagesIndent($maxvw)} - #{catalogImagesIndent($maxvw)}) / 3)) - #{catalogImagesIndent($maxvw)});
                margin-top: #{catalogImagesIndent($maxvw)};
                margin-left: #{catalogImagesIndent($maxvw)};
                // 1160/920
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 920 / 1160);
                }
            }

            div:nth-child(8n + 5) {
                float: left;
                width: calc(#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - (((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - #{catalogImagesIndent($maxvw)} - #{catalogImagesIndent($maxvw)}) / 3 + #{catalogImagesIndent($maxvw)}) * 2));
                margin-top: #{catalogImagesIndent($maxvw)};
                // 560/440
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 440 / 560);
                }
            }

            div:nth-child(8n + 6) {
                float: left;
                width: calc(#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - (((#{$maxvw} - #{main_Hor_Indent($maxvw)} * 2 - #{catalogImagesIndent($maxvw)} - #{catalogImagesIndent($maxvw)}) / 3 + #{catalogImagesIndent($maxvw)}) * 2));
                margin-top: #{catalogImagesIndent($maxvw)};
                // 560/440
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 440 / 560);
                }
            }

            > div:nth-child(8n + 7) {
                float: left;
                width: calc(#{$maxvw}/2 - #{main_Hor_Indent($maxvw)} - #{catalogImagesIndent($maxvw)} / 2);
                margin-top: #{catalogImagesIndent($maxvw)};
                // 860/800
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 800 / 860);
                }
            }

            > div:nth-child(8n + 8) {
                float: left;
                width: calc(#{$maxvw}/2 - #{main_Hor_Indent($maxvw)} - #{catalogImagesIndent($maxvw)} / 2);
                margin-top: #{catalogImagesIndent($maxvw)};
                margin-left: #{catalogImagesIndent($maxvw)};
                // 860/800
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: calc(100% * 800 / 860);
                }
            }
        }
    }
}