.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white30;
    backdrop-filter: blur(4px);
    z-index: 9999999;
}

.modal {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    will-change: transform;
    padding: 30px 40px 20px;
    border: 4px solid $white;
    font-family: $PTRootUIReg;
    font-size: 24px;
    line-height: 30px;
    color: $black;
    background-color: $lightGray;
    min-height: 180px;
}

.modal_header__title {
}

.modal__body {
    flex: 1;
}

.modal_footer__actions {
    display: flex;
}

.modal_footer_action__btn {
    ~ .modal_footer_action__btn {
        margin-left: 40px;
    }
}